<div class="card text-white bg-primary mb-3" style="max-width: 30rem">
    <div class="card-header"><%= nickname %></div>
    <div class="card-body">
  
  
  VIN:
  <p><%= vin %></p>
  MAKE:
  <p><%= make %></p>
  MODEL:
  <p><%= model %></p>
  YEAR:
  <p><%= year %></p>

  <br />
  <br />
  <br />
  <div class="list-group">
  <a href="/services/new?vehicleId=<%= _id %>" class="list-group-item list-group-item-action">Add a service</a>

  <a href="/services/<%= _id %>" class="list-group-item list-group-item-action">See Services</a>
  </div>
</div>
