<div class="card text-white bg-primary mb-3" style="max-width: 45rem">
    <div class="card-header"> <%= nickname %> </div>
    <div class="card-body">
      <h1 class="card-title">Services</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Scheduled Service</th>
            <th scope="col">Date</th>
            <th scope="col">Completed</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% services.forEach((v, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= v.workTodo %></td>
            <td><%= v.date.toString().slice(0, 10) %></td>
            <td><input type="checkbox" value=<%= v.completed %> id="<%= v._id %>" /> </td>
            <td>
                <form
                action="/services/<%= v.id %>"
                class="delete-form"
                method="POST"
              >
                <input type="hidden" name="vehicleId" value="<%= v.vehicleId %>" />
                <button class="btn btn-danger  btn-sm" type="submit">DELETE</button>
              </form>
            </td>
                <% }); %> 
        </tr>
          
        </tbody>
        
      </div>
  </div>
  
  <script src="/js/services.js"></script>